{%- set toc = toc and content | toc -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if title -%}
	<title>{{ title }} • hTest</title>
	{%- else -%}
	<title>hTest: Declarative unit testing, for everyone</title>
	{%- endif %}
	<link rel="icon" href="{{ page | relative }}/assets/images/logo.svg" />
	<link rel="stylesheet" href="{{ page | relative }}/assets/prism.css">
	<link rel="stylesheet" href="{{ page | relative }}/assets/style.css">
	<script src="{{ page | relative }}/assets/prism.js"></script>
</head>
<body class="language-html{{ ' has-toc' if toc }}">

<header>

<h1>
	<a href="{{ page | relative }}/"><img src="{{ page | relative }}/assets/images/logo.svg" alt="Logo showing a white checkmark on a greenish background" /> <strong>h</strong>Test</a>
</h1>

<p>Declarative unit testing, for everyone</p>

</header>
<nav>
	<a href="{{ page | relative }}/docs/">Docs</a>
	<a href="{{ page | relative }}/api/">API</a>
	<a href="https://github.com/leaverou/htest/">GitHub</a>
</nav>

<div class="content">



{% if not ('<main>' in content ) %}
<main>
{% endif %}

{{ content | safe }}

{% if not ('</main>' in content ) %}
</main>
{% endif %}

{% if toc %}
<aside class="sidebar" id="page-contents">
	<div class="toc">
		<h2>On this page</h2>
		{{ content | toc | safe }}
	</div>
</aside>
{% endif %}

</div>

<footer>
	<p>By <a href="https://lea.verou.me">Lea Verou</a> & <a href="https://github.com/LeaVerou/htest/graphs/contributors">contributors</a>
	• Proudly hosted by <a href="https://netlify.com">Netlify</a>
	</p>
</footer>

</body>
</html>