<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>htest: Unit testing with HTML!</title>
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">✅</text></svg>'>
	<link rel="stylesheet" href="{{ page | relative }}/assets/prism.css">
	<link rel="stylesheet" href="{{ page | relative }}/assets/style.css">
	<script src="{{ page | relative }}/assets/prism.js"></script>
</head>
<body class="language-html">

{% if not ('<header>' in content ) %}
<header>

<h1>
	<a href="{{ page | relative }}/"><strong>h</strong>Test</a>
</h1>

<p>Truly declarative unit testing!</p>

</header>
{% endif %}
<nav>
	<a href="{{ page | relative }}/docs/">Docs</a>
	<a href="https://github.com/leaverou/htest/">GitHub</a>
</nav>

{{ content | safe }}

<footer>
	<p>By <a href="https://lea.verou.me">Lea Verou</a>
	• Proudly hosted by <a href="https://netlify.com">Netlify</a>
	</p>
</footer>

</body>
</html>