<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>htest: Unit testing with HTML!</title>
	<link rel="stylesheet" href="{{ page | relative }}/assets/prism.css">
	<link rel="stylesheet" href="{{ page | relative }}/assets/style.css">
	<script src="{{ page | relative }}/assets/prism.js"></script>
</head>
<body class="language-html">
	{{ content | safe }}

<footer>
	<p>By <a href="https://lea.verou.me">Lea Verou</a>
	• <a href="https://github.com/leaverou/htest/">GitHub</a>
	• Proudly hosted by <a href="https://netlify.com">Netlify</a>
	</p>
</footer>

</body>
</html>