@import url("https://kit.fontawesome.com/5956551eb3.css");
@import url("https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/themes/default.css");
@import url("https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/webawesome.css");
@import url("defaults.css");
@import url("prism.css");

:root {
	--max-page-width: min(120ch, 100% - 2em);
	--max-content-width: min(80ch, 100% - 2em);
	--body-padding: 1em;
	--header-height: 6.5rem;

	--color-magenta: hsl(340 90% 50%);
	--color-pink: hsl(340 90% 80%);
	--color-aqua: oklch(65% 0.15 210);

	--color-accent: var(--color-magenta);
	--color-accent-85: color-mix(in oklch, var(--color-accent) 0%, oklch(85% none none));
	--color-accent-98: color-mix(in oklch, color-mix(in oklch, var(--color-accent) 0%, oklch(98% none none)) 30%, oklch(none 0% none));

	--color-accent-2: var(--color-aqua);

	--color-neutral: hsl(210 10% 50%);
	--color-neutral-95: color-mix(in oklch, var(--color-neutral) 0%, oklch(95% none none));
	--color-neutral-90: color-mix(in oklch, var(--color-neutral) 0%, oklch(90% none none));
	--color-neutral-85: color-mix(in oklch, var(--color-neutral) 0%, oklch(85% none none));
	--color-neutral-80: color-mix(in oklch, var(--color-neutral) 0%, oklch(80% none none));
	--color-neutral-60: color-mix(in oklch, var(--color-neutral) 0%, oklch(60% none none));
	--color-neutral-50: color-mix(in oklch, var(--color-neutral) 0%, oklch(50% none none));
	--color-neutral-45: color-mix(in oklch, var(--color-neutral) 0%, oklch(45% none none));
	--color-neutral-40: color-mix(in oklch, var(--color-neutral) 0%, oklch(40% none none));
	--color-neutral-30: color-mix(in oklch, var(--color-neutral) 0%, oklch(30% none none));
}

body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

header, footer {
	box-sizing: content-box;
	padding-inline: clamp(1em, 50vw - var(--max-page-width) / 2, 50vw);
	max-width: var(--max-page-width);
}

footer {
	border-top: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);
}

header {
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	border-bottom: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);
	padding-block: var(--wa-space-s);
	background: var(--wa-color-surface-default);

	& h1,
	& p {
		margin: 0;
	}

	& h1 {
		font-size: 300%;

		& > :is(a, a:hover) {
			color: inherit;
			text-decoration: none;

			& img {
				block-size: .75em;
			}
		}

		& strong {
			color: var(--color-accent-85);
		}
	}

	nav {
		display: flex;
		gap: var(--wa-space-m);
		align-items: center;

		a {
			font-weight: var(--wa-font-weight-bold);
			color: var(--wa-color-on-quiet);
			font-size: var(--wa-font-size-m);
		}

		a:has(> .fa-github) {
			margin-inline-start: var(--wa-space-m);
			font-size: var(--wa-font-size-xl);
		}
	}
}

nav {
	a:not(:hover) > i {
		color: var(--wa-color-on-quiet);
	}
}

.page {
	flex: 1;
	display: flex;
	max-width: var(--max-page-width);
	margin-inline: auto;

	@media (width <= 625px) {
		flex-direction: column;
	}

	@media (width > 1360px) {
		&:has(#main-contents) {
			padding-inline-start: var(--wa-space-3xl);
		}
	}

	@media (width > 1000px) {
		&:has(> .sidebar) {
			> .sidebar {
				.toc {
					margin: 0;
					position: sticky;
					top: var(--header-height);
					line-height: var(--wa-line-height-expanded);
				}

				~ .sidebar {
					padding-inline-start: 3rem;
					border-inline-start: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);
					border-inline-end: none;
				}

			}
		}

		&:has(> .sidebar ~ .sidebar) {
			--max-content-width: 75ch;
		}

		#section-contents {
			white-space: nowrap;
		}
	}

	@media (width <= 1000px) {
		#page-contents {
			order: -1;
		}

		#section-contents {
			order: 999;
		}
	}
}

main {
	max-width: var(--max-content-width);
	padding: var(--wa-space-xl);
	margin-inline-end: auto;

	> ul:first-of-type {
		list-style: "✅ ";
		padding-inline-start: 0;

		span:first-of-type {
			display: none;
		}

		li::marker {
			font: var(--fa-font-solid);
			color: var(--wa-color-green);
		}
	}

	& h1 {
		color: var(--color-neutral);
		font-size: 300%;
		margin-bottom: 0;
	}

	& h2 {
		color: var(--color-accent);

	}

	:is(h1, h2):first-child {
		margin-block-start: 0;
	}
}

:is(nav, aside) a,
:is(h1, h2, h3, h4) > a:only-child {
	text-decoration: none;
	color: inherit;
}

:is(h1, h2, h3, h4) {
	scroll-margin-block-start: var(--header-height);
}

.sidebar {
	border-inline-end: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-surface-border);
	padding-block: var(--wa-space-l);
	padding-inline: var(--wa-space-l);
	font-size: var(--wa-font-size-s);
	color: var(--color-neutral-30);

	h2 {
		margin-block-start: var(--wa-space-xs);
		color: var(--color-accent);
		font-size: var(--wa-font-size-s);
		text-transform: uppercase;
	}

	.toc {
		.active.toc-link {
			font-weight: var(--wa-font-weight-bold);
			color: var(--color-accent);
		}

		ul, ol {
			margin: 0;
		}

		ul {
			list-style-type: none;

			ul {
				padding-inline-start: var(--wa-space-s);

				li {
					color: var(--color-neutral-50);
					font-weight: var(--wa-font-weight-normal);
				}
			}

			:is(* > &) > li {
				font-weight: var(--wa-font-weight-semibold);
			}
		}

		ol {
			counter-reset: index;
			list-style-type: none;

			> li {
				counter-increment: index;

				&::marker {
					content: counters(index, '.', decimal) '. ';
					font-weight: var(--wa-font-weight-bold);
					color: var(--color-neutral);
				}
			}
		}
	}

	@media (width <= 625px) {
		border-inline-end: none;
	}

	@media (width > 625px) {
		padding-inline-start: 0;
	}
}

#main-contents {
	ul {
		margin: 0;
		position: sticky;
		top: var(--header-height);
		list-style: none;
		line-height: var(--wa-line-height-expanded);
	}

	@media (width <= 625px) {
		ul {
			position: static;
		}
	}

	a {
		font-weight: var(--wa-font-weight-semibold);
		white-space: nowrap;
	}
}

.readme-only {
	display: none;
}

.scrollable,
pre:has(code) {
	max-width: 100%;
	overflow-x: auto;
}

:nth-child(1) { --index: 1; }
:nth-child(2) { --index: 2; }
:nth-child(3) { --index: 3; }
